<app-header titulo="Cards"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Título</ion-card-title>
      <ion-card-subtitle>Subtítulo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis consequatur eligendi esse expedita
      facilis nisi placeat quasi, quis rerum. A architecto fugiat impedit molestias nemo nobis quis voluptate.
      Assumenda.
    </ion-card-content>
  </ion-card>

  <ion-card mode="md">
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis modi, necessitatibus nihil nobis
      omnis pariatur sed tempore ullam voluptate? At doloremque eos facilis, labore possimus quam quos reprehenderit
      veniam.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      <ion-title>Título</ion-title>
    </ion-card-header>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam assumenda autem consectetur culpa doloribus,
      est, incidunt itaque maiores, mollitia neque nesciunt numquam possimus quod reiciendis tenetur vero voluptatem
      voluptatibus.
    </ion-card-content>
  </ion-card>
</ion-content>
